
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <!-- breadcrumb-area-start -->
    <div class="breadcrumb-area bg-default pt-110 pb-120 has-breadcrumb-overlay" data-background="assets/img/bg/breadcrumb-img-1.png">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="subnet-breadcrumb-wrap text-center">
                        <h2 class="subnet-breadcrumb-title wow" data-splitting="">About</h2>
                        <div class="subnet-breadcrumb-list wow fadeInUp" data-wow-delay=".3s">
                            <a href="index.html">Home</a>
                            <span>About us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->
    <!-- about-area-start -->
    <div class="subnet-about-1-area fix bg-default pt-140 pb-110" data-background="assets/img/bg/about-1-bg-img.png">
        <div class="has-about-1-top-border"></div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="subnet-about-1-left mb-50">
                        <div class="subnet-about-1-item-wrap wow fadeIn">
                            <div class="swiper-container about_1_slide_active">
                                <div class="swiper-wrapper mb-60">
                                    <div class="swiper-slide">
                                        <div class="subnet-about-1-item-single">
                                            <a class="subnet-about-1-item-single-img" href="about.html">
                                                <img src="~/Nexus/images/about-img-1.png" alt="img">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="subnet-about-1-item-single">
                                            <a class="subnet-about-1-item-single-img" href="about.html">
                                                <img src="~/Nexus/images/about-img-2.png" alt="img">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="subnet-about-1-item-single">
                                            <a class="subnet-about-1-item-single-img" href="about.html">
                                                <img src="~/Nexus/images/about-img-3.png" alt="img">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="subnet-about-1-slider-btn-wrap">
                                    <i class="fal fa-angle-left about_1_slide_prev"></i>
                                    <div class="about_1_slide_scrollbar"></div>
                                    <i class="fal fa-angle-right about_1_slide_next"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="subnet-about-1-right pl-70">
                        <div class="subnet-about-1-section-title-wrap mb-45">
                            <div class="subnet-subtitle mb-20">
                                <div class="content black-style white-style">
                                    <span>About us</span>
                                </div>
                                <div class="content green-style">
                                    <span>Just in $60 a month</span>
                                </div>
                            </div>
                            <h3 class="subnet-section-title-1 wow" data-splitting="">Live Sport and TV-shows for best friends</h3>
                            <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enims ad minim veniam. Aenean massa consectetur adipisicing.</p>
                        </div>
                        <ul class="subnet-about-1-list-item mb-55 wow fadeInUp ">
                            <li><i class="fal fa-check"></i> Internet &amp; TV service solutions</li>
                            <li><i class="fal fa-check"></i> Top quality services with reasonable price</li>
                            <li><i class="fal fa-check"></i> Live sports and TV shows with ultra fast speed</li>
                        </ul>
                        <div class="subnet-about-1-btn-wrap wow fadeInUp">
                            <a class="subnet-btn-1" href="about.html">Discover More <i class="fal fa-arrow-right"></i></a>
                            <img class="bg-shape-1" src="images/blog-left-arrow.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-area-end -->
    <!-- about-area-start -->
    <div class="subnet-about-2-area subnet-about-page pb-160">
        <div class="about-2-bg-shape-1">
            <img src="~/Nexus/images/about-2-bg-shape-1.png" alt="">
        </div>
        <div class="container">
            <div class="row g-0">
                <div class="col-xxl-5 col-xl-5 col-lg-6">
                    <div class="subnet-about-2-right">
                        <div class="subnet-about-2-title-wrap mb-25">
                            <h6 class="subnet-subtitle-2 wow fadeIn" data-wow-delay=".3s">
                                <span>
                                    <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M24.2087 4.46496C22.5822 3.05129 20.7482 1.95079 18.7535 1.18932C16.697 0.401587 14.5106 0 12.2727 0C10.0295 0 7.84841 0.401587 5.78659 1.18932C3.79726 1.95079 1.96325 3.04627 0.326378 4.46496C0.119276 4.63177 0 4.87697 0 5.13259C0 5.35694 0.0828409 5.55503 0.233182 5.71142L1.93756 7.47454C1.98933 7.52667 2.04648 7.56336 2.11359 7.59463C2.35713 7.69387 2.67315 7.66761 2.89598 7.52165C2.9117 7.51123 2.92704 7.4954 2.94277 7.48497C4.09794 6.49413 5.36203 5.701 6.71433 5.12758C8.47585 4.38155 10.3459 4.00081 12.2731 4.00081C14.2003 4.00081 16.0704 4.38155 17.8265 5.12758C19.1788 5.70138 20.4322 6.4783 21.5823 7.46952C21.7584 7.60004 21.9398 7.66259 22.1212 7.66259C22.2765 7.66259 22.4322 7.61549 22.6133 7.48536C22.6393 7.46991 22.66 7.44867 22.6857 7.4228L24.2866 5.73266C24.4572 5.56044 24.5454 5.35694 24.5454 5.13259C24.5454 4.87697 24.4262 4.63177 24.2087 4.46496Z" fill="#16B126"></path>
                                        <path d="M16.2314 7.42228C13.7136 6.50442 10.8333 6.50442 8.3155 7.42228C7.09283 7.87098 5.96336 8.51776 4.94281 9.35724C4.77712 9.49818 4.67357 9.67542 4.64251 9.87351C4.62717 9.95692 4.63714 10.0457 4.66322 10.1237C4.69428 10.2125 4.76178 10.3689 4.83427 10.5149C4.85498 10.562 4.88604 10.6037 4.92248 10.64L6.59042 12.356C6.64219 12.4135 6.70969 12.4553 6.78218 12.4811C7.04643 12.575 7.36245 12.5282 7.57492 12.3664C8.92722 11.2972 10.5537 10.7288 12.2738 10.7288C13.9939 10.7288 15.6101 11.2922 16.9674 12.3614C17.1124 12.4711 17.2938 12.5336 17.4752 12.5336C17.5737 12.5336 17.6719 12.5182 17.7651 12.4815C17.8376 12.4553 17.8997 12.4135 17.9569 12.3564L19.7288 10.5099C19.7652 10.4786 19.7909 10.4369 19.817 10.3952C19.8791 10.2751 19.9155 10.1396 19.9155 10.004C19.9155 9.76925 19.812 9.53988 19.6152 9.36766C18.5885 8.52278 17.4487 7.87098 16.2314 7.42228Z" fill="#16B126"></path>
                                        <path d="M14.9355 14.1719C14.1531 13.6556 13.2257 13.3842 12.2623 13.3842C11.3093 13.3842 10.3973 13.6502 9.59416 14.1769C9.3767 14.3333 9.2417 14.5889 9.2417 14.855C9.2417 15.0218 9.28849 15.1782 9.38168 15.3141C9.4024 15.3508 9.42848 15.3821 9.45954 15.4133L11.6406 17.7082C11.8581 17.9534 12.107 18.0001 12.2727 18.0001C12.5059 18.0001 12.7233 17.9009 12.8737 17.7394L15.1322 15.3295C15.179 15.2878 15.2101 15.2357 15.2358 15.1782C15.2772 15.0739 15.2979 14.9642 15.2979 14.855C15.2983 14.5893 15.1687 14.3337 14.9355 14.1719Z" fill="#DE2C2C"></path>
                                    </svg>
                                </span>
                                about us
                            </h6>
                            <h3 class="subnet-title-2 wow pulse">
                                Find Our Nearest <br>
                                Broadband <span>Your Town</span>
                            </h3>
                            <p class="wow fadeInUp">Donec eget elementum mauris. Curabitur condimentum purus eu <br> semper varius phasellus rhoncus, mauris quis finibus porttitor, ante <br> lacus suscipit nisi,dolor purus vel ante.</p>
                        </div>
                        <div class="subnet-about-2-package-wrap mb-50">
                            <div class="subnet-about-2-package-item">
                                <div class="icon wow fadeIn" data-wow-delay=".2s">
                                    <img src="~/Nexus/images/about-2-icon-1.png" alt="icon">
                                </div>
                                <h5 class="title">$34.99<span>/mo</span></h5>
                            </div>
                            <div class="subnet-about-2-package-item">
                                <div class="icon wow fadeIn" data-wow-delay=".3s">
                                    <img src="~/Nexus/images/about-2-icon-2.png" alt="icon">
                                </div>
                                <h5 class="title">Free<span>/6month</span></h5>
                            </div>
                        </div>
                        <div class="subnet-about-2-btn-wrap">
                            <a class="subnet-btn-2 wow fadeIn" data-wow-delay=".5s" href="about.html">Discover More <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-7 col-xl-7 col-lg-6">
                    <div class="subnet-about-2-left pl-70">
                        <div class="subnet-about-2-img-wrap wow zoomIn">
                            <img src="~/Nexus/images/about-2-img-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-area-end -->
    <!-- team-area-start -->
    <div class="subnet-team-area pb-160">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="subnet-team-title-wrap text-center mb-60">
                        <h6 class="subnet-subtitle-2 wow fadeIn" data-wow-delay=".3s">
                            <span>
                                <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.2087 4.46496C22.5822 3.05129 20.7482 1.95079 18.7535 1.18932C16.697 0.401587 14.5106 0 12.2727 0C10.0295 0 7.84841 0.401587 5.78659 1.18932C3.79726 1.95079 1.96325 3.04627 0.326378 4.46496C0.119276 4.63177 0 4.87697 0 5.13259C0 5.35694 0.0828409 5.55503 0.233182 5.71142L1.93756 7.47454C1.98933 7.52667 2.04648 7.56336 2.11359 7.59463C2.35713 7.69387 2.67315 7.66761 2.89598 7.52165C2.9117 7.51123 2.92704 7.4954 2.94277 7.48497C4.09794 6.49413 5.36203 5.701 6.71433 5.12758C8.47585 4.38155 10.3459 4.00081 12.2731 4.00081C14.2003 4.00081 16.0704 4.38155 17.8265 5.12758C19.1788 5.70138 20.4322 6.4783 21.5823 7.46952C21.7584 7.60004 21.9398 7.66259 22.1212 7.66259C22.2765 7.66259 22.4322 7.61549 22.6133 7.48536C22.6393 7.46991 22.66 7.44867 22.6857 7.4228L24.2866 5.73266C24.4572 5.56044 24.5454 5.35694 24.5454 5.13259C24.5454 4.87697 24.4262 4.63177 24.2087 4.46496Z" fill="#16B126"></path>
                                    <path d="M16.2314 7.42228C13.7136 6.50442 10.8333 6.50442 8.3155 7.42228C7.09283 7.87098 5.96336 8.51776 4.94281 9.35724C4.77712 9.49818 4.67357 9.67542 4.64251 9.87351C4.62717 9.95692 4.63714 10.0457 4.66322 10.1237C4.69428 10.2125 4.76178 10.3689 4.83427 10.5149C4.85498 10.562 4.88604 10.6037 4.92248 10.64L6.59042 12.356C6.64219 12.4135 6.70969 12.4553 6.78218 12.4811C7.04643 12.575 7.36245 12.5282 7.57492 12.3664C8.92722 11.2972 10.5537 10.7288 12.2738 10.7288C13.9939 10.7288 15.6101 11.2922 16.9674 12.3614C17.1124 12.4711 17.2938 12.5336 17.4752 12.5336C17.5737 12.5336 17.6719 12.5182 17.7651 12.4815C17.8376 12.4553 17.8997 12.4135 17.9569 12.3564L19.7288 10.5099C19.7652 10.4786 19.7909 10.4369 19.817 10.3952C19.8791 10.2751 19.9155 10.1396 19.9155 10.004C19.9155 9.76925 19.812 9.53988 19.6152 9.36766C18.5885 8.52278 17.4487 7.87098 16.2314 7.42228Z" fill="#16B126"></path>
                                    <path d="M14.9355 14.1719C14.1531 13.6556 13.2257 13.3842 12.2623 13.3842C11.3093 13.3842 10.3973 13.6502 9.59416 14.1769C9.3767 14.3333 9.2417 14.5889 9.2417 14.855C9.2417 15.0218 9.28849 15.1782 9.38168 15.3141C9.4024 15.3508 9.42848 15.3821 9.45954 15.4133L11.6406 17.7082C11.8581 17.9534 12.107 18.0001 12.2727 18.0001C12.5059 18.0001 12.7233 17.9009 12.8737 17.7394L15.1322 15.3295C15.179 15.2878 15.2101 15.2357 15.2358 15.1782C15.2772 15.0739 15.2979 14.9642 15.2979 14.855C15.2983 14.5893 15.1687 14.3337 14.9355 14.1719Z" fill="#DE2C2C"></path>
                                </svg>
                            </span>
                            our team
                        </h6>
                        <h3 class="subnet-title-2 wow pulse">Best Expert Team</h3>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="subnet-team-member-card mb-30 wow fadeInUp">
                        <div class="subnet-team-member-card-img">
                            <a class="d-block" href="team-details.html">
                                <img src="~/Nexus/images/team-img-1.png" alt="member-img">
                            </a>
                            <div class="subnet-team-member-card-media">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="subnet-team-member-card-text">
                            <div class="text-center">
                                <h6 class="name wow" data-splitting=""><a href="team-details.html">Russell Sprout</a></h6>
                                <p class="position mb-0 wow fadeInUp">Project manager</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="subnet-team-member-card mb-30 wow fadeInUp" data-wow-delay=".2s">
                        <div class="subnet-team-member-card-img">
                            <a class="d-block" href="team-details.html">
                                <img src="~/Nexus/images/team-img-2.png" alt="member-img">
                            </a>
                            <div class="subnet-team-member-card-media">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="subnet-team-member-card-text">
                            <div class="text-center">
                                <h6 class="name wow" data-splitting=""><a href="team-details.html">Douglas Lyphe</a></h6>
                                <p class="position mb-0 wow fadeInUp" data-wow-delay=".2s">Executive Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="subnet-team-member-card mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="subnet-team-member-card-img">
                            <a class="d-block" href="team-details.html">
                                <img src="~/Nexus/images/team-img-3.png" alt="member-img">
                            </a>
                            <div class="subnet-team-member-card-media">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="subnet-team-member-card-text">
                            <div class="text-center">
                                <h6 class="name wow " data-splitting=""><a href="team-details.html">Dylan Meringue</a></h6>
                                <p class="position mb-0 wow fadeInUp" data-wow-delay=".3s">UI/UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="subnet-team-btn text-center pt-25 wow fadeInUp" data-wow-delay=".5">
                        <a class="subnet-btn-2" href="team.html">View All Team Member <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team-area-end -->
    <!-- contact-form-area-start -->
    <div class="subnet-contact-form-2-area bg-default pt-120 pb-140" data-background="assets/img/bg/contact-form-2-bg-img-1.png">
        <div class="container z-index-3">
            <div class="row">
                <div class="col-12">
                    <div class="subnet-contact-form-2-title-wrap text-center mb-50">
                        <h6 class="subnet-subtitle-2 wow fadeIn" data-wow-delay=".3s">
                            <span>
                                <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.2087 4.46496C22.5822 3.05129 20.7482 1.95079 18.7535 1.18932C16.697 0.401587 14.5106 0 12.2727 0C10.0295 0 7.84841 0.401587 5.78659 1.18932C3.79726 1.95079 1.96325 3.04627 0.326378 4.46496C0.119276 4.63177 0 4.87697 0 5.13259C0 5.35694 0.0828409 5.55503 0.233182 5.71142L1.93756 7.47454C1.98933 7.52667 2.04648 7.56336 2.11359 7.59463C2.35713 7.69387 2.67315 7.66761 2.89598 7.52165C2.9117 7.51123 2.92704 7.4954 2.94277 7.48497C4.09794 6.49413 5.36203 5.701 6.71433 5.12758C8.47585 4.38155 10.3459 4.00081 12.2731 4.00081C14.2003 4.00081 16.0704 4.38155 17.8265 5.12758C19.1788 5.70138 20.4322 6.4783 21.5823 7.46952C21.7584 7.60004 21.9398 7.66259 22.1212 7.66259C22.2765 7.66259 22.4322 7.61549 22.6133 7.48536C22.6393 7.46991 22.66 7.44867 22.6857 7.4228L24.2866 5.73266C24.4572 5.56044 24.5454 5.35694 24.5454 5.13259C24.5454 4.87697 24.4262 4.63177 24.2087 4.46496Z" fill="white"></path>
                                    <path d="M16.2314 7.42228C13.7136 6.50442 10.8333 6.50442 8.3155 7.42228C7.09283 7.87098 5.96336 8.51776 4.94281 9.35724C4.77712 9.49818 4.67357 9.67542 4.64251 9.87351C4.62717 9.95692 4.63714 10.0457 4.66322 10.1237C4.69428 10.2125 4.76178 10.3689 4.83427 10.5149C4.85498 10.562 4.88604 10.6037 4.92248 10.64L6.59042 12.356C6.64219 12.4135 6.70969 12.4553 6.78218 12.4811C7.04643 12.575 7.36245 12.5282 7.57492 12.3664C8.92722 11.2972 10.5537 10.7288 12.2738 10.7288C13.9939 10.7288 15.6101 11.2922 16.9674 12.3614C17.1124 12.4711 17.2938 12.5336 17.4752 12.5336C17.5737 12.5336 17.6719 12.5182 17.7651 12.4815C17.8376 12.4553 17.8997 12.4135 17.9569 12.3564L19.7288 10.5099C19.7652 10.4786 19.7909 10.4369 19.817 10.3952C19.8791 10.2751 19.9155 10.1396 19.9155 10.004C19.9155 9.76925 19.812 9.53988 19.6152 9.36766C18.5885 8.52278 17.4487 7.87098 16.2314 7.42228Z" fill="white"></path>
                                    <path d="M14.9355 14.1718C14.1531 13.6555 13.2257 13.384 12.2623 13.384C11.3093 13.384 10.3973 13.6501 9.59416 14.1768C9.3767 14.3332 9.2417 14.5888 9.2417 14.8548C9.2417 15.0217 9.28849 15.178 9.38168 15.314C9.4024 15.3507 9.42848 15.3819 9.45954 15.4132L11.6406 17.708C11.8581 17.9532 12.107 18 12.2727 18C12.5059 18 12.7233 17.9007 12.8737 17.7393L15.1322 15.3294C15.179 15.2877 15.2101 15.2356 15.2358 15.178C15.2772 15.0738 15.2979 14.9641 15.2979 14.8548C15.2983 14.5892 15.1687 14.3336 14.9355 14.1718Z" fill="#FFBB00"></path>
                                </svg>
                            </span>
                            Your plan
                        </h6>
                        <h3 class="subnet-title-2 wow pulse">Unlimited Movies &amp; TV Shows</h3>
                    </div>
                </div>
            </div>
            <div class="subnet-contact-form-2-wrap">
                <form action="#">
                    <div class="row g-0">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                            <div class="padding-box">
                                <span class="contact-form-2-label wow" data-splitting="">Your Name</span>
                                <input class="contact-form-2-input mb-30 wow fadeInUp" type="text" placeholder="Enter your Name">
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                            <div class="padding-box">
                                <span class="contact-form-2-label wow" data-splitting="">Your Email</span>
                                <input class="contact-form-2-input mb-30 wow fadeInUp" type="text" placeholder="Enter your Email">
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                            <div class="padding-box">
                                <span class="contact-form-2-label wow" data-splitting="">Your Number</span>
                                <input class="contact-form-2-input mb-30 wow fadeInUp" type="number" placeholder="Enter Your Number">
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                            <div class="padding-box">
                                <span class="contact-form-2-label wow" data-splitting="">Your Address</span>
                                <input class="contact-form-2-input mb-30 wow fadeInUp" type="text" placeholder="Your Address">
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12">
                            <div class="padding-box">
                                <div class="padding-box">
                                    <span class="contact-form-2-label wow" data-splitting="">Choose Your Plan</span>
                                    <input class="contact-form-2-input mb-30 wow fadeInUp" type="text" placeholder="Choose Your Plan">
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 text-center">
                            <div class="padding-box">
                                <input class="contact-form-2-checkbox" id="check33" type="checkbox" name="policy">
                                <span class="contact-form-2-policy mb-35 wow" data-splitting=""><label for="check33">I agree that my submitted data is being collected and stored </label><a href="about.html">Privacy Policy.</a></span>
                            </div>
                        </div>
                        <div class="col-xxl-12">
                            <div class="subnet-contact-form-2-btn-wrap text-center wow fadeIn">
                                <button class="subnet-btn-1">Order Plan Now <i class="fal fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- contact-form-area-end -->

</main>

<!-- popup-area-start -->
<div class="overlay"></div>
<div class="sg-popup-search-box search_1_popup_active blue-bg">
    <div class="container">
        <h4 class="title">find what you need</h4>
        <div class="sg-popup-search-box-form">
            <form action="#">
                <div class="sg-popup-search-box-input">
                    <input type="text" placeholder="Search...">
                </div>
                <button type="submit"><i class="fal fa-search"></i></button>
            </form>
            <button class="sg-popup-search-box-close-action-btn search_1_popup_close"><i class="fal fa-times"></i></button>
        </div>
    </div>
</div>
<!-- popup-area-end -->

