
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main>

    <!-- breadcrumb-area-start -->
    <div class="breadcrumb-area bg-default pt-110 pb-120 has-breadcrumb-overlay" data-background="assets/img/bg/breadcrumb-img-1.png">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="subnet-breadcrumb-wrap text-center">
                        <h2 class="subnet-breadcrumb-title wow" data-splitting="">Cart</h2>
                        <div class="subnet-breadcrumb-list wow fadeInUp" data-wow-delay=".3s">
                            <a href="index.html">Home</a>
                            <span>Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->
    <!-- cart area start -->
    <div class="cart-area pt-140 pb-125">
        <div class="container">
            <div class="row">

                <!-- product-list -->
                <div class="col-xxl-8 col-xl-8 col-lg-8 mb-30 mb-lg-0">
                    <div class="shopping-cart-table wow fadeInUp">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- single-product -->
                                <tr>
                                    <td>
                                        <div class="shopping-cart-product-box">
                                            <div class="image">
                                                <img src="~/Nexus/images/product-img-1.png" alt="">
                                            </div>
                                            <div class="title-wrap">
                                                <h4 class="title wow" data-splitting=""><a href="shop-details.html">Alba Botanica Facial</a></h4>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product-cart-price">
                                            <span>$19.00</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="single-product-popup-quantity-box cart_product_quantity">
                                            <form action="#">
                                                <a href="#0" class="plus"><i class="fal fa-plus"></i></a>
                                                <input type="text" readonly="" name="quantity" value="1">
                                                <a href="#0" class="minus"><i class="fal fa-minus"></i></a>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product-cart-price">
                                            <span>19.00</span>
                                        </div>
                                    </td>
                                    <td><button class="cart-times-btn"><i class="fal fa-times"></i></button></td>
                                </tr>

                                <!-- single-product -->
                                <tr>
                                    <td>
                                        <div class="shopping-cart-product-box">
                                            <div class="image">
                                                <img src="~/Nexus/images/product-img-2.png" alt="">
                                            </div>
                                            <div class="title-wrap">
                                                <h4 class="title wow" data-splitting=""><a href="shop-details.html">Alba Brawn Facial</a></h4>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product-cart-price">
                                            <span>$30.00</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="single-product-popup-quantity-box cart_product_quantity">
                                            <form action="#">
                                                <a href="#0" class="plus"><i class="fal fa-plus"></i></a>
                                                <input type="text" readonly="" name="quantity" value="1">
                                                <a href="#0" class="minus"><i class="fal fa-minus"></i></a>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product-cart-price">
                                            <span>$30.00</span>
                                        </div>
                                    </td>
                                    <td><button class="cart-times-btn"><i class="fal fa-times"></i></button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- checkout-option -->
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="cart-widget-left-space pl-40  wow fadeInUp ">
                        <div class="cart-total-box-2">
                            <h4 class="title">Cart Totals</h4>
                            <ul>
                                <li><span class="label">Subtotal</span> <span class="price">$38.00</span></li>
                                <li>
                                    <span class="label">Shipping</span>
                                    <select name="shipping" class="shipping has-nice-select">
                                        <option value="1">Free Shipping</option>
                                        <option value="2">Premium</option>
                                    </select>
                                </li>
                                <li><span class="label">Total</span> <span class="price">$38.00</span></li>
                                <li class="has-cart-checkout-list-form-style"><button class="cart-checkout-form-btn mt-40 subnet-btn-1" type="submit">Checkout</button></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- cart area end -->

</main>

<!-- popup-area-start -->
<div class="overlay"></div>
<div class="sg-popup-search-box search_1_popup_active blue-bg">
    <div class="container">
        <h4 class="title">find what you need</h4>
        <div class="sg-popup-search-box-form">
            <form action="#">
                <div class="sg-popup-search-box-input">
                    <input type="text" placeholder="Search...">
                </div>
                <button type="submit"><i class="fal fa-search"></i></button>
            </form>
            <button class="sg-popup-search-box-close-action-btn search_1_popup_close"><i class="fal fa-times"></i></button>
        </div>
    </div>
</div>
<!-- popup-area-end -->

