
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <!-- breadcrumb-area-start -->
    <div class="breadcrumb-area bg-default pt-110 pb-120 has-breadcrumb-overlay" data-background="assets/img/bg/breadcrumb-img-1.png">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="subnet-breadcrumb-wrap text-center">
                        <h2 class="subnet-breadcrumb-title wow" data-splitting="">Contact Us</h2>
                        <div class="subnet-breadcrumb-list wow fadeInUp" data-wow-delay=".3s">
                            <a href="index.html">Home</a>
                            <span>Contact Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->
    <!-- contact-page-start -->
    <div class="subnet-contact-page-area pt-140 pb-110">
        <div class="container">
            <div class="row">

                <!-- item -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="subnet-contact-page-card-item mb-30 wow fadeIn">
                        <div class="icon">
                            <i class="fas fa-map"></i>
                        </div>
                        <div class="content">
                            <h6>Office Address</h6>
                            <p>Madison Ave, New York, NY 10547</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="subnet-contact-page-card-item mb-30 wow fadeIn" data-wow-delay=".3s">
                        <div class="icon">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="content">
                            <h6>Contact Us</h6>
                            <p>Example@gmail.com</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="subnet-contact-page-card-item mb-30 wow fadeIn" data-wow-delay=".4s">
                        <div class="icon">
                            <i class="fal fa-phone-alt"></i>
                        </div>
                        <div class="content">
                            <h6>Telephone</h6>
                            <p>(88)123 657 6548 3247</p>
                        </div>
                    </div>
                </div>

                <!-- title -->
                <div class="col-12">
                    <div class="subnet-contact-page-title-wrap text-center mt-110 mb-60">
                        <h6 class="subnet-subtitle-2 wow fadeIn" data-wow-delay=".3s">
                            <span>
                                <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.2087 4.46496C22.5822 3.05129 20.7482 1.95079 18.7535 1.18932C16.697 0.401587 14.5106 0 12.2727 0C10.0295 0 7.84841 0.401587 5.78659 1.18932C3.79726 1.95079 1.96325 3.04627 0.326378 4.46496C0.119276 4.63177 0 4.87697 0 5.13259C0 5.35694 0.0828409 5.55503 0.233182 5.71142L1.93756 7.47454C1.98933 7.52667 2.04648 7.56336 2.11359 7.59463C2.35713 7.69387 2.67315 7.66761 2.89598 7.52165C2.9117 7.51123 2.92704 7.4954 2.94277 7.48497C4.09794 6.49413 5.36203 5.701 6.71433 5.12758C8.47585 4.38155 10.3459 4.00081 12.2731 4.00081C14.2003 4.00081 16.0704 4.38155 17.8265 5.12758C19.1788 5.70138 20.4322 6.4783 21.5823 7.46952C21.7584 7.60004 21.9398 7.66259 22.1212 7.66259C22.2765 7.66259 22.4322 7.61549 22.6133 7.48536C22.6393 7.46991 22.66 7.44867 22.6857 7.4228L24.2866 5.73266C24.4572 5.56044 24.5454 5.35694 24.5454 5.13259C24.5454 4.87697 24.4262 4.63177 24.2087 4.46496Z" fill="#16B126"></path>
                                    <path d="M16.2314 7.42228C13.7136 6.50442 10.8333 6.50442 8.3155 7.42228C7.09283 7.87098 5.96336 8.51776 4.94281 9.35724C4.77712 9.49818 4.67357 9.67542 4.64251 9.87351C4.62717 9.95692 4.63714 10.0457 4.66322 10.1237C4.69428 10.2125 4.76178 10.3689 4.83427 10.5149C4.85498 10.562 4.88604 10.6037 4.92248 10.64L6.59042 12.356C6.64219 12.4135 6.70969 12.4553 6.78218 12.4811C7.04643 12.575 7.36245 12.5282 7.57492 12.3664C8.92722 11.2972 10.5537 10.7288 12.2738 10.7288C13.9939 10.7288 15.6101 11.2922 16.9674 12.3614C17.1124 12.4711 17.2938 12.5336 17.4752 12.5336C17.5737 12.5336 17.6719 12.5182 17.7651 12.4815C17.8376 12.4553 17.8997 12.4135 17.9569 12.3564L19.7288 10.5099C19.7652 10.4786 19.7909 10.4369 19.817 10.3952C19.8791 10.2751 19.9155 10.1396 19.9155 10.004C19.9155 9.76925 19.812 9.53988 19.6152 9.36766C18.5885 8.52278 17.4487 7.87098 16.2314 7.42228Z" fill="#16B126"></path>
                                    <path d="M14.9355 14.1719C14.1531 13.6556 13.2257 13.3842 12.2623 13.3842C11.3093 13.3842 10.3973 13.6502 9.59416 14.1769C9.3767 14.3333 9.2417 14.5889 9.2417 14.855C9.2417 15.0218 9.28849 15.1782 9.38168 15.3141C9.4024 15.3508 9.42848 15.3821 9.45954 15.4133L11.6406 17.7082C11.8581 17.9534 12.107 18.0001 12.2727 18.0001C12.5059 18.0001 12.7233 17.9009 12.8737 17.7394L15.1322 15.3295C15.179 15.2878 15.2101 15.2357 15.2358 15.1782C15.2772 15.0739 15.2979 14.9642 15.2979 14.855C15.2983 14.5893 15.1687 14.3337 14.9355 14.1719Z" fill="#DE2C2C"></path>
                                </svg>
                            </span>
                            Send us massage
                        </h6>
                        <h3 class="subnet-title-2 wow pulse">Stay connected with us</h3>
                    </div>
                </div>

                <!-- messages-form -->
                <div class="col-xl-8 col-lg-8">
                    <div class="subnet-contact-page-form mb-50">
                        <div class="subnet-comment-replay-form">
                            <form action="#">
                                <div class="row g-0">

                                    <div class="col-lg-6 col-md-6 mb-20">
                                        <div class="p-l-r-10">
                                            <span class="input-title ">Your Name</span>
                                            <input type="text" name="name" placeholder="Enter your Name">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mb-20">
                                        <div class="p-l-r-10">
                                            <span class="input-title ">Your Email</span>
                                            <input type="email" name="email" placeholder="Enter your Email">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mb-20">
                                        <div class="p-l-r-10">
                                            <span class="input-title ">Your Number</span>
                                            <input type="number" name="website" placeholder="Enter your Number">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mb-20">
                                        <div class="p-l-r-10">
                                            <span class="input-title ">Select Subject</span>
                                            <input type="text" name="name" placeholder="Select Subject">
                                        </div>
                                    </div>

                                    <div class="col-xxl-12 mb-15">
                                        <div class="p-l-r-10">
                                            <span class="input-title ">Massage</span>
                                            <textarea name="comments" cols="30" rows="10" placeholder="Leave a message"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="p-l-r-10">
                                            <div class="check-box mb-20">
                                                <input id="privacy_1" class="contact-form-2-checkbox" type="checkbox" name="policy">
                                                <label for="privacy_1" class="wow fadeInUp">I agree to the Wealcoder privacy policy *</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="p-l-r-10">
                                            <button class="send-btn subnet-btn-1 wow fadeInUp" type="submit">Send Massage <i class="fal fa-arrow-right"></i></button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- map -->
                <div class="col-xl-4 col-lg-4">
                    <div class="map-wrap mb-50">
                        <iframe class="border-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58312.16540319593!2d89.21494883695713!3d24.013062425785236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe84d98fa5bf3d%3A0xb038902617eb9884!2sPabna!5e0!3m2!1sen!2sbd!4v1676399032360!5m2!1sen!2sbd" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- contact-page-end -->

</main>

<!-- popup-area-start -->
<div class="overlay"></div>
<div class="sg-popup-search-box search_1_popup_active blue-bg">
    <div class="container">
        <h4 class="title">find what you need</h4>
        <div class="sg-popup-search-box-form">
            <form action="#">
                <div class="sg-popup-search-box-input">
                    <input type="text" placeholder="Search...">
                </div>
                <button type="submit"><i class="fal fa-search"></i></button>
            </form>
            <button class="sg-popup-search-box-close-action-btn search_1_popup_close"><i class="fal fa-times"></i></button>
        </div>
    </div>
</div>
<!-- popup-area-end -->
